/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Copy and paste your old CSS styles below */
body {
  font-family: 'Arial';
  background-color: #f1f1f1;
  margin: 0;
}

h1 {
  font-size: 55px;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.paragrah_inline_link {
  display: inline;
}

.centre_text {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

.header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  color: white;
}

.header h2 {
  color: white;
}

.header ul {
  list-style-type: none;
}

.header li {
  float: left;
}

.header li a {
  color: white;
  font-size: 22px;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

.row {
  display: flex;
}

.column1 {
  background-color: #bbb;
  flex: 1;
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.column2 {
  background-color: white;
  flex: 3;
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.column3 {
  background-color: #ccc;
  flex: 1;
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.footer {
  background-color: #333;
  display: flex;
}

.footercolumn1 {
  flex: 1;
  color: white;
  padding: 10px;
}

.footercolumn2 {
  flex: 1;
  color: white;
  padding: 10px;
}

.footercolumn3 {
  flex: 1;
  color: white;
  padding: 10px;
}

.footercolumn4 {
  flex: 1;
  color: white;
  padding: 10px;
}

.footer h3 {
  color: white;
}

.footer ul {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: white;
}